<!DOCTYPE html>
<html>
  <head>
    <title>Readiscover</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script type="text/javascript">
      window.logoURL = "<%= image_url('readiscover-logo.png') %>"
      window.githubLogo = "<%= image_url('tan-github-logo') %>"
      window.linkedLogo = "<%= image_url('tan-linked-in') %>"
      window.navProfileDefault = "<%= image_url('default-nav-profile.png') %>"
      window.defaultProfilePic = "<%= image_url('default-profile-pic.png') %>"
    </script>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  </head>

  <body>
    <%= yield %>
  </body>

  <footer>
  </footer>
</html>
