<!DOCTYPE html>
<html>
  <head>
    <title>Readiscover</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta property="og:title" content="Readiscover" />
    <meta property='og:image' content="<%= image_url('meta_image.png') %>" />
    <meta property="og:description"
       content="Rediscover the joy of reading. 
       Readiscover is a Goodreads clone." />
    <meta property="og:url" content="http://readiscover.herokuapp.com/" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script type="text/javascript">
      window.logoURL = "<%= image_url('readiscover-logo.png') %>"
      window.githubLogo = "<%= image_url('tan-github-logo.png') %>"
      window.linkedLogo = "<%= image_url('tan-linked-in.png') %>"
      window.navProfileDefault = "<%= image_url('default-nav-profile.png') %>"
      window.defaultProfilePic = "<%= image_url('default-profile-pic.png') %>"
      window.authorPic = "<%= image_url('author-photo.png') %>"
      window.articleOne = "<%= image_url('article-one.png') %>"
      window.libraryPhoto = "<%= image_url('library-photo.png') %>"
      window.indieBookstore = "<%= image_url('indie-bookstore.png') %>"
    </script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link rel="icon" type="image/png" href="<%= image_url('readiscover-favicon.ico') %>"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Montserrat:ital,wght@0,200;0,300;0,400;1,200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;700;800&display=swap" rel="stylesheet">
    
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  </head>

  <body>
    <%= yield %>
  </body>

  <footer>
  </footer>
</html>
